In [44]:
pip install langchain
pip install google-generativeai
pip install langchain_experimental
pip install pymysql
pip install sentence-transformers
pip install chromadb

SyntaxError: invalid syntax (81785986.py, line 1)

## 1. Loading libraries, maintaining connections, integrating database and quering some basic questions

In [1]:
## Importing google LLM model which is Palm
from langchain.llms import GooglePalm

## Importing libraries for SQL operations
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

## Importing the libraries to create embeddings using hugging face and storing it in chromadb vector database
from langchain.prompts import SemanticSimilarityExampleSelector
from langchain.embeddings import HuggingFaceEmbeddings
from langchain.vectorstores import Chroma

## Making customized prompt for few shot learning
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts import FewShotPromptTemplate

## Ignoring all warnings
import warnings
warnings.filterwarnings("ignore")

In [3]:
## Creating my API key
api_key = "AIzaSyBPw5FaShhRWooN9qBRIMQ-h6t5d7Cx20U"

## Initiating llm
llm = GooglePalm(google_api_key = api_key, temperature = 0.2)

## Checking the response
llm_explained = llm("Explain Large Language Model in 2 line")

## Printing the response
print(llm_explained)

A Large Language Model (LLM) is a type of artificial intelligence that can understand and generate human language. It is trained on massive datasets of text and code, and can be used for a variety of tasks, such as translation, summarization, and question answering.

In [4]:
## Initiating the SQL credentials
db_user = "root"
db_password = "12345"
db_host = "localhost"
db_name = "atliq_tshirts"

## Maintaining the connection with SQL database
db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info=3)

## Checking the table
print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Van Huesen	White	S	43	13
2	Adidas	Black	S	37	32
3	Van Huesen	Blue	XS	35	69
*/

In [5]:
## Integrating llm with database and initiating the chain
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)

## Running ad hoc business query ques1
qns1 = db_chain.run("How many t-shirts do we have left for Nike in XS size and white color")
qns1

> Entering new SQLDatabaseChain chain...
How many t-shirts do we have left for Nike in XS size and white color
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'
SQLResult:
Answer:69
> Finished chain.

'69'

In [42]:
## Running ad hoc business query ques2
qns2 = db_chain.run("How much is the price of the inventory for all small size t-shirts?")
qns2

> Entering new SQLDatabaseChain chain...
How much is the price of the inventory for all small size t-shirts?
SQLQuery:SELECT SUM(price) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('255'),)]
Answer:255
> Finished chain.

'255'

Oops, our model has made a mistake here. The price is actually the price per unit but in real life database columns will not have perfect names. We need to tell it somehow that price is price per unit and the actual query should be,

#### SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'

Lets use the above mentioned query directly.

In [43]:
## Running ad hoc business query ques2
qns2_actual = db_chain.run("SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'")
qns2_actual

> Entering new SQLDatabaseChain chain...
SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'
SQLQuery:SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('13948'),)]
Answer:13948
> Finished chain.

'13948'

In [47]:
## Running ad hoc business query ques3
qns3 = db_chain.run("If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue our store will generate (post discounts)")
qns3

> Entering new SQLDatabaseChain chain...
If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue our store will generate (post discounts)
SQLQuery:SELECT SUM(price * (1 - pct_discount)) FROM t_shirts JOIN discounts ON t_shirts.t_shirt_id = discounts.t_shirt_id WHERE brand = 'Levi' AND CURDATE() BETWEEN discounts.start_date AND discounts.end_date

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'discounts.start_date' in 'where clause'")
[SQL: SELECT SUM(price * (1 - pct_discount)) FROM t_shirts JOIN discounts ON t_shirts.t_shirt_id = discounts.t_shirt_id WHERE brand = 'Levi' AND CURDATE() BETWEEN discounts.start_date AND discounts.end_date]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

Above, it returned a wrong query which generated an error during query execution. It thinks discount table would have start and end date which is normally true but in our table there is no start or end date column. One thing we can do here is run the query directly.

In [46]:
## SQL query
query = '''select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id'''

## Running ad hoc business query ques3
qns3_actual = db_chain.run(query)
qns3_actual

> Entering new SQLDatabaseChain chain...
select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLQuery:SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) AS total_revenue FROM
(SELECT sum(price*stock_quantity) AS total_amount, t_shirt_id FROM t_shirts WHERE brand = 'Levi'
GROUP BY t_shirt_id) a LEFT JOIN discounts ON a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(Decimal('23300.500000'),)]
Answer:23300.5
> Finished chain.

'23300.5'

In [50]:
## Running ad hoc business query ques4
qns4 = db_chain.run("If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?")
qns4

> Entering new SQLDatabaseChain chain...
If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?
SQLQuery:SELECT SUM(price) FROM t_shirts WHERE brand = 'Levi'
SQLResult: [(Decimal('414'),)]
Answer:414
> Finished chain.

'414'

Once again above is the wrong answer. We need to use SUM(price*stock_quantity). Let's run the query explicitly. We will use the result of this query later on in the notebook

In [54]:
## Running ad hoc business query ques4
qns4_actual = db_chain.run("SELECT sum(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'")
qns4_actual

> Entering new SQLDatabaseChain chain...
SELECT sum(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLQuery:SELECT sum(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLResult: [(Decimal('24968'),)]
Answer:24968
> Finished chain.

'24968'

In [11]:
## Running ad hoc business query ques5
qns5 = db_chain.run("How many white color Levi's shirt I have?")
qns5

> Entering new SQLDatabaseChain chain...
How many white color Levi's shirt I have?
SQLQuery:SELECT count(*) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(4,)]
Answer:4
> Finished chain.

'4'

## 2. Few Shot Learning

In [24]:
## Storing questions and their respective queries in a lit of dicts in order to train our llm on top of that
few_shots = [
    {'Question' : "How many t-shirts do we have left for Nike in XS size and white color?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns1},
    {'Question': "How much is the total price of the inventory for all S-size t-shirts?",
     'SQLQuery':"SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'",
     'SQLResult': "Result of the SQL query",
     'Answer': qns2},
    {'Question': "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?" ,
     'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
                     (select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
                     group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
                  """,
     'SQLResult': "Result of the SQL query",
     'Answer': qns3} ,
     {'Question' : "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?" ,
      'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
      'SQLResult': "Result of the SQL query",
      'Answer' : qns4},
    {'Question': "How many white color Levi's shirt I have?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns5
     }
]

### **Creating Semantic Similarity Based example selector**
* Create embedding on the few_shots
* Store the embeddings in Chroma DB
* Retrieve the the top most Semantically close example from the vector store

In [25]:
## Importing the libraries to create embeddings using hugging face and storing it in chromadb vector database
from langchain.prompts import SemanticSimilarityExampleSelector
from langchain.embeddings import HuggingFaceEmbeddings
from langchain.vectorstores import Chroma

## Initializing the embedding model
embeddings = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')

## storing question, sqlquery, sqlresult and answer in the signle string
to_vectorize = [" ".join(example.values()) for example in few_shots]
to_vectorize

["How many t-shirts do we have left for Nike in XS size and white color? SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS' Result of the SQL query 69",
 "How much is the total price of the inventory for all S-size t-shirts? SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S' Result of the SQL query 13948",
 "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)? SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from\n                     (select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'\n                     group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id\n                   Result of the SQL query 23300.5",
 "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount? SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi' Result of the SQL query 414",
 "How many white color Levi's shirt I have? SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White' Result of the SQL query 4"]

In [31]:
## Initiating Chroma Vector Store instance
vectorstore = Chroma.from_texts(to_vectorize, embeddings, metadatas=few_shots)

## Filtering the top 2 similar documents within our own vector database
example_selector = SemanticSimilarityExampleSelector(vectorstore=vectorstore, k=2)
example_selector.select_examples({"Question": "How many Adidas T shirts I have left in my store?"})

[{'Answer': '69',
  'Question': 'How many t-shirts do we have left for Nike in XS size and white color?',
  'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
  'SQLResult': 'Result of the SQL query'},
 {'Answer': '69',
  'Question': 'How many t-shirts do we have left for Nike in XS size and white color?',
  'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
  'SQLResult': 'Result of the SQL query'}]

Now, we can customise our prompt such that our llm cannot through senseless errors.
For ex: if we don't have any column in our database then the llm generated query should not contain those fields.

### Setting up PromptTemplete using input variables

In [32]:
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt
print(_mysql_prompt)
print("==" * 50)
print(PROMPT_SUFFIX)

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here


====================================================================================================
Only use the following tables:
{table_info}

Question: {input}

In [34]:
from langchain.prompts.prompt import PromptTemplate

example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult","Answer",],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
)
example_prompt

PromptTemplate(input_variables=['Answer', 'Question', 'SQLQuery', 'SQLResult'], template='\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}')

In [37]:
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts import FewShotPromptTemplate

few_shot_prompt = FewShotPromptTemplate(
    example_selector = example_selector,
    example_prompt = example_prompt,
    prefix = _mysql_prompt,
    suffix = PROMPT_SUFFIX,
    input_variables=["input", "table_info", "top_k"], #These variables are used in the prefix and suffix
)
print(few_shot_prompt)

input_variables=['input', 'table_info', 'top_k'] example_selector=SemanticSimilarityExampleSelector(vectorstore=<langchain_community.vectorstores.chroma.Chroma object at 0x0000015751366C10>, k=2, example_keys=None, input_keys=None, vectorstore_kwargs=None) example_prompt=PromptTemplate(input_variables=['Answer', 'Question', 'SQLQuery', 'SQLResult'], template='\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}') suffix='Only use the following tables:\n{table_info}\n\nQuestion: {input}' prefix='You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.\nUnless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.\nNever query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.\nPay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\nPay attention to use CURDATE() function to get the current date, if the question involves "today".\n\nUse the following format:\n\nQuestion: Question here\nSQLQuery: SQL Query to run\nSQLResult: Result of the SQLQuery\nAnswer: Final answer here\n\n'

In [38]:
## Again checking the llm responses for our previous questions
new_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, prompt=few_shot_prompt)

In [40]:
## Running ad hoc business query ques1
## Earlier response:
print(f"Earlier response: {qns1}")
print("==" * 50)
qns1_new = new_chain.run("How many t-shirts do we have left for Nike in XS size and white color")
print(f"Updated response: {qns1_new}")

Earlier response: 69
====================================================================================================


> Entering new SQLDatabaseChain chain...
How many t-shirts do we have left for Nike in XS size and white color
SQLQuery:SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'
SQLResult: [(None,)]
Answer:69
> Finished chain.
Updated response: 69

In [44]:
## Running ad hoc business query ques2
## Earlier response:
print(f"Earlier response: {qns2}")
print("==" * 50)
qns2_new = new_chain.run("How much is the total price of the inventory for all S-size t-shirts?")
print(f"Updated response: {qns2_new}")

Earlier response: 255
====================================================================================================


> Entering new SQLDatabaseChain chain...
How much is the total price of the inventory for all S-size t-shirts?
SQLQuery:SELECT sum(price*stock_quantity) as total_price from t_shirts where size = 'S'
SQLResult: [(Decimal('13948'),)]
Answer:13948
> Finished chain.
Updated response: 13948

In [48]:
## Running ad hoc business query ques3
## Earlier response:
print(f"Earlier response: {qns3}")
print("==" * 50)
qns3_new = new_chain.run("If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?")
print(f"Updated response: {qns3_new}")

Earlier response: 23300.5
====================================================================================================


> Entering new SQLDatabaseChain chain...
If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?
SQLQuery:SELECT sum(price*stock_quantity) as total_revenue from t_shirts where brand = 'Levi'
SQLResult: [(Decimal('24968'),)]
Answer:24968
> Finished chain.
Updated response: 24968

In [53]:
## Running ad hoc business query ques4
## Earlier response:
print(f"Earlier response: {qns4}")
print("==" * 50)
qns4_new = new_chain.run("If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?")
print(f"Updated response: {qns4_new}")

Earlier response: 414
====================================================================================================


> Entering new SQLDatabaseChain chain...
If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?
SQLQuery:SELECT sum(price*stock_quantity) as total_revenue from t_shirts where brand = 'Levi'
SQLResult: [(Decimal('24968'),)]
Answer:24968
> Finished chain.
Updated response: 24968

In [55]:
## Running ad hoc business query ques5
## Earlier response:
print(f"Earlier response: {qns5}")
print("==" * 50)
qns5_new = new_chain.run("How many white color Levi's shirt I have?")
print(f"Updated response: {qns5_new}")

Earlier response: 4
====================================================================================================


> Entering new SQLDatabaseChain chain...
How many white color Levi's shirt I have?
SQLQuery:SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(Decimal('301'),)]
Answer:301
> Finished chain.
Updated response: 301